<?xml version="1.0" encoding="UTF-8"?>
<plugin
      id="com.ps.consul.eclipse.ui.doors.typemodel.extension"
      name="DOORS Type Model Extension"
      version="1.0.0"
      provider-name="pure-systems GmbH">
      
      <extension point="com.ps.consul.typemodel.extension">
          <typemodel location="DOORSTypeModelExtension.uml2"/>
      </extension>
</plugin>